<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <section class="hs-deck-header">
                <h1>{{ deck.name }}</h1>
                <ul class="list-unstyled deck-header-cards clearfix">
                    <li class="clearfix" ng-repeat="card in deck.cards">
                        <div class="card-item-mana">{{ card.card.cost }}</div>
                        <div class="card-item-name rarity-{{ card.card.rarity }}">
                            <span>{{ card.card.name }}</span>
                            <div class="item-name-image">
                                <span></span>
                                <img class="image" ng-src="{{ card.card.image }}" alt="{{ card.card.name }}" title="{{ card.card.name }}"/>
                            </div>
                        </div>
                        <div class="card-item-count">{{ card.count }}</div>
                    </li>
                </ul>
                <p class="deck-tips">*所有牌组均来自 <a href="http://www.hearthpwn.com/" target="_blank">hearthpwn</a> 或者 <a href="http://ls.duowan.com/" target="_blank">多玩</a>，非原创！(All decks are copied from hearhpwn or duowan, not original!)</p>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-striped hs-matches-table">
                <thead>
                <tr>
                    <th>Season</th>
                    <th ng-repeat="class in playerClasses">{{ class.name }}</th>
                    <th>Total</th>
                    <th>PCT</th>
                </tr>
                </thead>
                <tr ng-repeat="season in seasons">
                    <td><a ui-sref="hsSeason({ url: season.url })">{{ season.title }}</a></td>
                    <td ng-repeat="class in playerClasses">{{ stats.list[season._id].detail[class.value].win }} - {{ stats.list[season._id].detail[class.value].lose }}</td>
                    <td>{{ stats.list[season._id].total.win  }} - {{ stats.list[season._id].total.lose }}</td>
                    <td>{{ stats.list[season._id].total.win / (stats.list[season._id].total.win + stats.list[season._id].total.lose) * 100 | number: 2 }}%</td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td ng-repeat="class in playerClasses">{{ stats.main.detail[class.value].win }} - {{ stats.main.detail[class.value].lose }}</td>
                    <td>{{ stats.main.total.win }} - {{ stats.main.total.lose }}</td>
                    <td>{{ stats.main.total.win / (stats.main.total.win + stats.main.total.lose) * 100 | number: 2 }}%</td>
                </tr>
            </table>
        </div>
    </div>
</div>