<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <section class="page-header season-title">
                <h1>{{ season.month | date: "MMMM yyyy" }} Season – {{ season.title }}</h1>
                <p>{{ season.description }}</p>
                <img ng-src="{{ imagePath + season.image }}" alt=""/>
            </section>
            <section class="table-responsive">
                <p><span>Final Rank: </span><span class="rank">{{ season.rank }}</span></p>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Deck</th>
                        <th ng-repeat="class in playerClasses">{{ class.name }}</th>
                        <th>Total</th>
                        <th>PCT</th>
                    </tr>
                    </thead>
                    <tr ng-repeat="deck in decks">
                        <td><a ui-sref="hsDeck({ id: deck._id })">{{ deck.name }}</a></td>
                        <td ng-repeat="class in playerClasses">{{ deckDetailStats[deck._id][class.value].win }} - {{ deckDetailStats[deck._id][class.value].lose }}</td>
                        <td>{{ deckTotalStats[deck._id].win  }} - {{ deckTotalStats[deck._id].lose }}</td>
                        <td>{{ deckTotalStats[deck._id].win / (deckTotalStats[deck._id].lose + deckTotalStats[deck._id].win) * 100 | number: 2 }}%</td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td ng-repeat="class in playerClasses">{{ seasonDetailStats[class.value].win }} - {{ seasonDetailStats[class.value].lose }}</td>
                        <td>{{ seasonTotalStats.win }} - {{ seasonTotalStats.lose }}</td>
                        <td>{{ seasonTotalStats.win / (seasonTotalStats.win + seasonTotalStats.lose) * 100 | number: 2 }}%</td>
                    </tr>
                </table>
            </section>
        </div>
    </div>
</div>