<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <section class="hs-season-header">
                <h1>{{ season.month | date: "MMMM yyyy" }} Season – {{ season.title }}</h1>
                <p>{{ season.description }}</p>
                <img ng-src="{{ season.image | imageUrl }}" alt="{{ season.title}}" title="{{ season.title }}"/>
                <div class="season-header-rank">
                    <span>Final Rank: </span>
                    <span>{{ season.rank }}</span>
                </div>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-striped hs-matches-table">
                <thead>
                <tr>
                    <th>Deck</th>
                    <th ng-repeat="class in playerClasses">{{ class.name }}</th>
                    <th>Total</th>
                    <th>PCT</th>
                </tr>
                </thead>
                <tr ng-repeat="deck in decks">
                    <td><a ui-sref="hsDeck({ id: deck._id })">{{ deck.name }}</a></td>
                    <td ng-repeat="class in playerClasses">{{ stats.list[deck._id].detail[class.value].win }} - {{ stats.list[deck._id].detail[class.value].lose }}</td>
                    <td>{{ stats.list[deck._id].total.win  }} - {{  stats.list[deck._id].total.lose }}</td>
                    <td>{{  stats.list[deck._id].total.win / ( stats.list[deck._id].total.lose +  stats.list[deck._id].total.win) * 100 | number: 2 }}%</td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td ng-repeat="class in playerClasses">{{ stats.main.detail[class.value].win }} - {{ stats.main.detail[class.value].lose }}</td>
                    <td>{{ stats.main.total.win }} - {{ stats.main.total.lose }}</td>
                    <td>{{ stats.main.total.win / (stats.main.total.win + stats.main.total.lose) * 100 | number: 2 }}%</td>
                </tr>
            </table>
        </div>
    </div>
</div>