<div class="container hidden" load-complete=complete ng-hearth-stone>
    <section class="season-total-wins table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th ng-repeat="class in playerClasses">{{ class.name }}</th>
                <th>Total</th>
                <th>PCT</th>
            </tr>
            </thead>
            <tr>
                <td ng-repeat="class in playerClasses">{{ total[class.value].win }} / {{ total[class.value].total }}</td>
                <td>{{ overall.win }} / {{ overall.total }}</td>
                <td>{{ overall.win / overall.total * 100 | number: 2 }}%</td>
            </tr>
        </table>
    </section>
    <section class="season-list">
        <div class="row">
            <div class="col-sm-6" ng-repeat="season in seasons">
                <div class="thumbnail season-item">
                    <div class="season-item-title">
                        <h2>{{ season.title }}</h2>
                        <img ng-src="{{ imagePath + season.image }}" alt="{{ season.title }}" title="{{ season.title }}"/>
                        <div class="season-item-rank rank-{{ season.rank }}" title="Final Rank: {{ season.rank }}">{{ season.rank }}</div>
                    </div>
                    <div class="season-item-text">
                        <p>{{ season.description }}</p>
                    </div>
                    <div class="season-item-action">
                        <a ui-sref="hsSeason({ url: season.url })" class="btn btn-link">Get Detail</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div ng-include="'views/components/loading.html'"></div>