<div class="container" load-complete=complete>
    <section class="season-list">
        <div class="row">
            <div class="col-sm-6" ng-repeat="season in seasons">
                <div class="thumbnail season-item">
                    <div class="season-item-title">
                        <h2>{{ season.title }}</h2>
                        <img ng-src="{{ season.image | imageUrl }}" alt="{{ season.title }}" title="{{ season.title }}"/>
                        <div class="season-item-rank rank-{{ season.rank }}" title="Final Rank: {{ season.rank }}">{{ season.rank }}</div>
                    </div>
                    <div class="season-item-text">
                        <p>{{ season.description }}</p>
                    </div>
                    <div class="season-item-action">
                        <a ui-sref="hsSeason({ url: season.url })" class="btn btn-link">Get Detail</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>