<div class="container">
    <div class="row">
        <div class="col-sm-6" ng-repeat="season in seasons">
            <section class="hs-season-item">
                <a ui-sref="hsSeason({ url: season.url })" class="season-item-header" ng-style="{'background-color': (season.image | imageHelper:'color')}">
                    <h2>{{ season.title }}</h2>
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEwAAAAbCAQAAAB8FaHvAAAAGUlEQVRYR+3BAQEAAACAkP6v7ggKAAAAoAEQIwABgZwLrQAAAABJRU5ErkJggg=="
                         lazy-img="{{ season.image | imageHelper:'url' }}"
                         alt="{{ season.title }}"
                         title="{{ season.title }}"/>
                </a>
                <div class="season-item-text">
                    <p>{{ season.description }}</p>
                </div>
                <a ui-sref="hsSeason({ url: season.url })" class="btn btn-link">GET DETAIL</a>
                <span class="season-item-rank rank-{{ season.rank }}" title="Final Rank: {{ season.rank }}">{{ season.rank }}</span>
            </section>
        </div>
    </div>
</div>