<section class="container game-detail animated" game-model="game" ng-game>
    <div class="page-header game-header">
        <div class="row">
            <div class="col-sm-10 game-header-right clearfix">
                <img class="game-image" ng-src="http://zhuhaolin.com/images/{{ image }}" alt="{{ game.title }} - {{ game.name }}" title="{{ game.title }} - {{ game.name }}"/>
                <div class="game-title">
                    <h1>{{ game.title }}</h1>
                    <h3>{{ game.name }}</h3>
                    <span>Released {{ game.date }} / <span class="game-platform">{{ game.platform }}</span></span>
                </div>
            </div>
            <div class="col-sm-2 game-header-left"></div>
        </div>
    </div>
    <div class="game-intro">
        <div class="row">
            <div class="col-sm-8 game-description">
                <p ng-repeat="description in descriptions">{{ description }}</p>
            </div>
            <div class="col-sm-4">
                <dl class="game-info clearfix">
                    <dt>Genre: </dt>
                    <dd>{{ game.genre }}</dd>
                    <dt>Developed by: </dt>
                    <dd>{{ developer }}</dd>
                    <dt>Published by: </dt>
                    <dd>{{ publish }}</dd>
                </dl>
            </div>
        </div>
    </div>
</section>