<section scroll-busy="busy" loading-model="dataArray" loading-length="dataLength" data-lazy-loading="list" ng-lazy-loading>
    <div class="ui one column grid gourmet-title">
        <a href="http://instagram.com/bill0106" target="_blank">
            <img ng-src="{{ imagePath }}0bf0b9777a775a5c382a1f9c205c52d1.png" alt="Gourmet Tour" title="Gourmet Tour"/>
        </a>
    </div>
    <div class="ui six column grid gourmet-list" infinite-scroll="loadMore()" infinite-scroll-disabled=busy>
        <div class="column transition hidden gourmet-item" ng-repeat="item in dataArray" data-lazy-loading="item" data-status="0">
            <span class="gourmet-item-title bottom">{{ item.food }}</span>
            <span class="gourmet-item-title top">{{ getDate(item.date) }}</span>
            <a class="gourmet-item-link" target="_blank" ng-href="{{ item.url }}">
                <img ng-src="{{ imagePath + item.image }}" alt="{{ item.food + ' - ' + item.restaurant }}" title="{{ item.food + ' - ' + item.restaurant }}" data-lazy-loading="itemImage"/>
            </a>
        </div>
    </div>
    <div class="gourmet-loader transition hidden" data-lazy-loading="moreLoader">
        <div class="ui loader medium active"></div>
    </div>
</section>
<div class="ui dimmer active gourmet-progress" data-lazy-loading="progressDimmer">
    <div class="ui progress" data-lazy-loading="progress">
        <div class="bar">
            <div class="progress"></div>
        </div>
    </div>
</div>