<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }} - Bill's Hobby | Write as a Interest</title>

    <link rel="stylesheet" href="../assets/styles/semantic.min.css"/>
    <link rel="stylesheet" href="../dist/css/style.min.css"/>

    <script src="../assets/javascripts/jquery.min.js"></script>
    <script src="../assets/javascripts/jquery.mousewheel.min.js"></script>
    <script src="../assets/javascripts/angular.min.js"></script>
    <script src="../assets/javascripts/angular-ui-router.min.js"></script>
    <script src="../assets/javascripts/angular-animate.min.js"></script>
    <script src="../assets/javascripts/ng-infinite-scroll.min.js"></script>
    <script src="../dist/javascripts/app.min.js"></script>
</head>
<body ng-class="bodyClass">
    <nav class="ui large menu">
        <a class="header item" href="/">Home</a>
        <a class="item" ui-sref="playstation" ui-sref-active="active">PlayStation</a>
        <a class="item" ui-sref="gourmet" ui-sref-active="active">Gourmet</a>
        <div class="right menu">
            <div class="header item">Bill's Hobby</div>
        </div>
    </nav>

    <div ui-view></div>

    <script src="../assets/javascripts/semantic.min.js"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-56615048-1', 'auto');
        ga('send', 'pageview');
</script>
</body>
</html>