<section class="playstation-games-list" scroll-busy="busy" loading-model="dataArray" loading-length="dataLength" data-lazy-loading="list" ng-lazy-loading>
    <div class="ui page grid" infinite-scroll="loadMore()" infinite-scroll-disabled=busy>
        <div class="eight wide mobile four wide tablet four wide computer column transition hidden" data-lazy-loading="item" data-status="0" ng-repeat="item in dataArray">
            <a class="ui medium rounded image playstations-games-item" ui-sref="game({ url: item.url })">
                <div class="ui dimmer transition" data-lazy-loading="itemInfo">
                    <div class="content">
                        <div class="center">
                            <h1 class="ui medium inverted header">{{ item.title }}</h1>
                            <h2 class="ui small inverted header">{{ item.name }}</h2>
                            <p>{{ item.genre }}</p>
                            <p><i class="large red game icon" ng-repeat="i in getNumber(item.rate) track by $index"></i></p>
                        </div>
                    </div>
                </div>
                <img src="{{ imagePath + item.image }}" alt="{{ item.title }}" title="{{ item.title }}" data-lazy-loading="itemImage"/>
            </a>
        </div>
    </div>
    <div class="playstation-game-loader transition" data-lazy-loading="moreLoader">
        <div class="ui loader medium active"></div>
    </div>
</section>
<div class="ui dimmer active playstation-games-progress" data-lazy-loading="progressDimmer">
    <div class="ui progress" data-lazy-loading="progress">
        <div class="bar">
            <div class="progress"></div>
        </div>
    </div>
</div>