<section class="gourmet-content" scroll-busy="busy" gourmets-model="gourmets" ng-gourmet>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="gourmet-title">
                    <a href="http://instagram.com/bill0106" target="_blank">
                        <img ng-src="{{ imagePath }}0bf0b9777a775a5c382a1f9c205c52d1.png" alt="Gourmet Tour" title="Gourmet Tour"/>
                    </a>
                </div>
            </div>
        </div>
        <div class="progress animated" data-gourmet="progressBar">
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">0%</div>
        </div>
        <ul class="row list-unstyled gourmet-list" infinite-scroll="loadMore()" infinite-scroll-disabled=busy>
            <li class="col-md-2 col-sm-3 col-xs-6 gourmet-list-item animated" ng-repeat="gourmet in gourmets" data-gourmet="item" data-visible="0">
                <span class="gourmet-item-title bottom text-limit">{{ gourmet.food }}</span>
                <span class="gourmet-item-title top">{{ getDate(gourmet.date) }}</span>
                <a class="gourmet-item-link" target="_blank" ng-href="{{ gourmet.url }}">
                    <img class="gourmet-item-image" ng-src="{{ imagePath + gourmet.image }}" alt="{{ gourmet.food + ' - ' + gourmet.restaurant }}" title="{{ gourmet.food + ' - ' + gourmet.restaurant }}" data-gourmet="itemImage"/>
                </a>
            </li>
        </ul>
        <div class="row">
            <div class="col-sm-12">
                <div class="animated gourmet-page-loading" data-gourmet="circleLoading">
                    <i class="fa fa-circle-o-notch fa-spin fa-4x"></i>
                </div>
            </div>
        </div>
    </div>
</section>