<nav class="navbar navbar-default" role="navigation" ng-include="'/views/navbar.html'"></nav>
<section class="gourmet-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="gourmet-title">
                    <img ng-src="{{ imagePath }}0bf0b9777a775a5c382a1f9c205c52d1.png" alt=""/>
                </div>
            </div>
        </div>
        <ul class="row list-unstyled gourmet-list">
            <li class="col-md-2 col-sm-3 col-xs-6 gourmet-list-item">
                <span class="gourmet-item-title bottom">小米粥</span>
                <span class="gourmet-item-title top">千秋小馆</span>
                <a class="gourmet-item-link" href="#">
                    <img class="gourmet-item-image" src="../../image.jpg" alt=""/>
                </a>
            </li>
            <li class="col-md-2 col-sm-3 col-xs-6 gourmet-list-item">
                <span class="gourmet-item-title bottom">小米粥</span>
                <span class="gourmet-item-title top">千秋小馆</span>
                <a class="gourmet-item-link" href="#">
                    <img class="gourmet-item-image" src="../../image.jpg" alt=""/>
                </a>
            </li>
        </ul>
    </div>
</section>