<section class="container game-detail animated" game-model="game" ng-game data-game="content">
    <div class="page-header game-header">
        <div class="row">
            <div class="col-sm-10 game-header-left clearfix">
                <img class="game-image" ng-src="{{ imagePath + game.image }}" alt="{{ game.title }} - {{ game.name }}" title="{{ game.title }} - {{ game.name }}"/>
                <div class="game-title">
                    <h1>{{ game.title }}</h1>
                    <h3>{{ game.name }}</h3>
                    <span>Released {{ game.date }} / <span class="game-platform">{{ game.platform }}</span></span>
                </div>
            </div>
            <div class="col-sm-2 hidden-xs game-header-right">
                <div class="game-rate-mask img-circle">
                    <div class="circle-long-part" data-rate="longPart">
                        <div class="long-part-inner"></div>
                    </div>
                    <div class="circle-short-part short-part-left" data-rate="shortPartLeft"></div>
                    <div class="circle-short-part short-part-right" data-rate="shortPartRight"></div>
                </div>
                <div class="game-rate-text img-circle">
                    <span class="game-rate animated zoomOut" data-game="rate">{{ game.rate }}</span>
                </div>
                <div class="rate-text">{{ rateText }}</div>
            </div>
        </div>
    </div>
    <div class="game-intro">
        <div class="row">
            <div class="col-sm-8 game-description">
                <p ng-repeat="description in descriptions">{{ description }}</p>
            </div>
            <div class="col-sm-4">
                <dl class="game-info clearfix">
                    <dt>Genre: </dt>
                    <dd>{{ game.genre }}</dd>
                    <dt>Developed by: </dt>
                    <dd>{{ developer }}</dd>
                    <dt>Published by: </dt>
                    <dd>{{ publish }}</dd>
                </dl>
                <a class="btn btn-block btn-default game-back" href="/playstation"><i class="fa fa-angle-double-left"></i> Back to PlayStation Games</a>
            </div>
        </div>
    </div>
</section>
<div class="page-loading animated" data-component="pageLoading">
    <i class="fa fa-circle-o-notch fa-spin fa-5x"></i>
</div>