// Opacity
.opacity(@alpha) {
  opacity: (@alpha / 100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@{alpha})";
}

// Index Background Loop
.backgroundLoop (@index: (length(@indexBackgroundList) - 1)) when (@index >= 0) {
  .backgroundLoop(@index - 1);
  &.item-@{index} {
    @url: extract(@indexBackgroundList, (@index + 1));
    background-image: url(@url);
  }
}

.background-opacity (@red, @green, @blue, @alpha, @startHex, @endHex) {
  background: rgb(@red, @green, @blue) transparent;
  background: rgba(@red, @green, @blue, @alpha);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=@{startHex}, endColorstr=@{endHex})";
}
// Clear Fix
.clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

// Text-limit
.text-limit() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space:nowrap;
}