/*-------------------
     Breakpoints
--------------------*/

@screenLarge          : 1200px;
@screenLargeMin       : @screenLarge;
@screenMedium         : 992px;
@screenMediumMax      : (@screenLargeMin - 1);
@screenMediumMin      : @screenMedium;
@screenSmall          : 768px;
@screenSmallMax       : (@screenMediumMin - 1);
@screenSmallMin       : @screenSmall;
@screenMini           : 320px;
@screenMiniMax        : (@screenSmallMin - 1);
@screenMiniMin        : @screenMini;

@screenDesktop        : ~"only screen and (min-width: @{screenLargeMin})";
@screenLaptop         : ~"only screen and (min-width: @{screenMediumMin}) and (max-width: @{screenMediumMax})";
@screenLaptopAbove    : ~"only screen and (min-width: @{screenMediumMin})";
@screenLaptopBlow     : ~"only screen and (max-width: @{screenMediumMax})";
@screenTablet         : ~"only screen and (min-width: @{screenSmallMin}) and (max-width: @{screenSmallMax})";
@screenTabletAbove    : ~"only screen and (min-width: @{screenSmallMin})";
@screenTabletBlow     : ~"only screen and (max-width: @{screenSmallMax})";
@screenMobile         : ~"only screen and (max-width: @{screenMiniMax})";

/*-------------------
        Fonts
--------------------*/

@miniSize        : (10 / 14);
@smallSize       : (12 / 14);
@mediumSize      : (14 / 14);
@bigSize         : (16 / 14);
@largeSize       : (18 / 14);
@hugeSize        : (20 / 14);
@massiveSize     : (24 / 14);

@fontSizeBase     : 14px;
@fontSizeMini     : (@fontSizeBase * @miniSize);
@fontSizeSmall    : (@fontSizeBase * @smallSize);
@fontSizeMedium   : (@fontSizeBase * @mediumSize);
@fontSizeBig      : (@fontSizeBase * @bigSize);
@fontSizeLarge    : (@fontSizeBase * @largeSize);
@fontSizeHuge     : (@fontSizeBase * @hugeSize);
@fontSizeMassive  : (@fontSizeBase * @massiveSize);

/*-------------------
        Colors
--------------------*/

@black        : #000;
@white        : #fff;

@gray         : darken(@white, 2%);     // #fafafa
@grayLight    : lighten(@black, 60%);   // #999999
@grayMedium   : lighten(@black, 40%);   // #666666
@grayDarken   : lighten(@black, 20%);   // #333333

/*-------------------
        Other
--------------------*/

@imagePath        : 'http://zhuhaolin.com/images/';