<div class="row" ng-cards>
    <div class="col-sm-9">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active" role="presentation">
                <a href="#neutral" data-toggle="tab" role="tab" aria-controls="neutral">Neutral</a>
            </li>
            <li role="presentation">
                <a href="#class" data-toggle="tab" role="tab" aria-controls="class">{{ playerClasses[deck.playerClass].name }}</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="neutral" role="tabpanel">
                <nav>
                    <ul class="pager">
                        <li class="previous"><a href="#" ng-click="getMoreCards(-1, 'prev')"><span aria-hidden="true">&larr;</span> Previous</a></li>
                        <li class="next"><a href="#" ng-click="getMoreCards(-1, 'next')">Next <span aria-hidden="true">&rarr;</span></a></li>
                    </ul>
                </nav>
                <div class="row">
                    <div class="col-sm-3" ng-repeat="neutralCard in neutralCards">
                        <a href="#" ng-click="addCard(neutralCard)">
                            <img ng-src="{{ neutralCard.image }}" alt="{{ neutralCard.name }}" title="{{ neutralCard.name }}" style="width: 100%"/>
                        </a>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="class" role="tabpanel">
                <nav>
                    <ul class="pager">
                        <li class="previous"><a href="#" ng-click="getMoreCards(deck.playerClass, 'prev')"><span aria-hidden="true">&larr;</span> Previous</a></li>
                        <li class="next"><a href="#"ng-click="getMoreCards(deck.playerClass, 'next')">Next <span aria-hidden="true">&rarr;</span></a></li>
                    </ul>
                </nav>
                <div class="row">
                    <div class="col-sm-3" ng-repeat="classCard in classCards">
                        <a href="#" ng-click="addCard(classCard)">
                            <img ng-src="{{ classCard.image }}" alt="{{ classCard.name }}" title="{{ classCard.name }}" style="width: 100%"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <form ng-submit="addCards(deck, deckCards)">
            <div class="form-group">
                <label for="name">Name: {{ deck.name }}</label>
            </div>
            <div class="form-group">
                <label>Cards: {{ deckCards.length }}</label>
                <ul class="list-unstyled">
                    <li ng-repeat="deckCard in deckCards | orderBy: ['cost', 'name'] track by $index">
                        <a href="#" ng-click="removeCard(deckCard)">{{ deckCard.cost + ' - ' + deckCard.name }}</a>
                    </li>
                </ul>
            </div>
            <button class="btn btn-primary pull-right" type="submit">Submit</button>
        </form>
    </div>
</div>