<p class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Add Deck <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li ng-repeat="class in playerClasses">
            <a ui-sref="HSdeckCreate({ class: class.value })">{{ class.name }}</a>
        </li>
    </ul>
</p>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Class</th>
            <th>Active</th>
        </tr>
        </thead>
        <tr ng-repeat="deck in decks">
            <td>
                <a ui-sref="HSdeckUpdate({ id: deck._id })">{{ deck._id }}</a>
            </td>
            <td>{{ deck.name }}</td>
            <td>{{ playerClasses[deck.playerClass].name }}</td>
            <td ng-switch="deck.active">
                <span ng-switch-when="true">Active</span>
                <span ng-switch-default>Inactive</span>
            </td>
        </tr>
    </table>
</div>