<p>
    <a ui-sref="HSdeckCreate" class="btn btn-lg btn-primary">Add Deck</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Class</th>
        <th>Active</th>
        <th>Operation</th>
    </tr>
    </thead>
    <tr ng-repeat="deck in decks">
        <td>{{ deck._id }}</td>
        <td>{{ deck.name }}</td>
        <td>{{ playerClasses[deck.playerClass].name }}</td>
        <td ng-switch="deck.active">
            <span ng-switch-when="true">Active</span>
            <span ng-switch-default>Inactive</span>
        </td>
        <td>
            <a ui-sref="HSdeckUpdate({ id: deck._id })" class="btn btn-default"><i class="fa fa-pencil-square-o"></i> Edit</a>
            <a ui-sref="HScardAdd({ deck_id: deck._id })" class="btn btn-primary"><i class="fa fa-clone"></i> Cards</a>
        </td>
    </tr>
</table>