<p>
    <a ui-sref="HSMatchCreate" class="btn btn-primary">Add Match</a>
</p>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Time</th>
            <th>Deck</th>
            <th>Opponent</th>
            <th>Result</th>
            <th>Operation</th>
        </tr>
        </thead>
        <tr ng-repeat="match in matches">
            <td>{{ match._id }}</td>
            <td>{{ match.time | date: "yyyy-MM-dd HH:mm:ss" }}</td>
            <td>{{ decks[match.deck_id].name }}</td>
            <td>{{ playerClasses[match.opponent].name }}</td>
            <td ng-switch="match.result">
                <span ng-switch-default>Draw</span>
                <span ng-switch-when="1">Win</span>
                <span ng-switch-when="-1">Lose</span>
            </td>
            <td>
                <button type="button" ng-click="deleteMatch(match)" class="btn btn-danger"><i class="fa fa-times"></i></button>
            </td>
        </tr>
    </table>
</div>
<ul class="pagination">
    <li ng-repeat="i in totalPage track by $index" ng-switch="$index" ng-class="$index + 1 == currentPage ? 'active' : ''">
        <span ng-switch-when="currentPage">{{ $index + 1 }}</span>
        <a ui-sref="HSMatches({ page: $index + 1 })" ng-switch-default>{{ $index + 1 }}</a>
    </li>
</ul>