<form class="form-horizontal" ng-submit="saveSeason()">
    <div class="form-group" ng-repeat="field in fields">
        <label for="{{ field }}" class="col-sm-1 control-label">{{ field.toUpperCase() }}:</label>
        <div class="col-sm-11">
            <input type="text" class="form-control" id="{{ field }}" ng-model="season[field]" placeholder="Enter {{ field.toUpperCase() }}" required/>
        </div>
    </div>
    <div class="form-group">
        <label for="url" class="col-sm-1 control-label">URL:</label>
        <div class="col-sm-11">
            <input type="text" class="form-control" id="url" ng-model="season.url" placeholder="Enter URL"/>
        </div>
    </div>
    <div class="form-group">
        <label for="description" class="col-sm-1 control-label">DESCRIPTION:</label>
        <div class="col-sm-11">
            <textarea class="form-control" id="description" ng-model="season.description" placeholder="Enter DESCRIPTION"></textarea>
        </div>
    </div>
    <button class="btn btn-primary pull-right" type="submit">Submit</button>
</form>