<p>
    <a ui-sref="HSWinCreate" class="btn btn-lg btn-primary">Add Win Rate</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>Season</th>
        <th>Deck</th>
        <th>Wins</th>
        <th>Total</th>
        <th>Operation</th>
    </tr>
    </thead>
    <tr ng-repeat="win in wins">
        <td>{{ seasons[win.season_id].month | date: "yyyy-MM" }}</td>
        <td>{{ decks[win.deck_id].name }}</td>
        <td>{{ win.overall[0].win }}</td>
        <td>{{ win.overall[0].total }}</td>
        <td><a ui-sref="HSWinUpdate({ id: win._id })" class="btn btn-primary"><i class="fa fa-pencil-square-o"></i></a></td>
    </tr>
</table>