<form class="form-horizontal" ng-submit="saveWin()">
    <div class="form-group">
        <label for="season_id" class="col-sm-1 control-label">SEASON:</label>
        <div class="col-sm-11">
            <select name="season" id="season_id" class="form-control" ng-model="win.season_id" ng-options="season._id as season.title for season in seasons" required>
                <option value="">Choose Season</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="deck_id" class="col-sm-1 control-label">DECK:</label>
        <div class="col-sm-11">
            <select name="deck" id="deck_id" class="form-control" ng-model="win.deck_id" ng-options="deck._id as deck.name for deck in decks" required>
                <option value="">Choose Deck</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-1 control-label">WINS:</label>
    </div>
    <div class="form-group" ng-repeat="class in playerClasses">
        <label class="col-sm-1 control-label">{{ class.name }}:</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" ng-model="win.detail[class.value].win" placeholder="wins"/>
        </div>
        <div class="col-sm-5">
            <input type="text" class="form-control" ng-model="win.detail[class.value].total" placeholder="total"/>
        </div>
    </div>
    <button class="btn btn-primary pull-right" type="submit">Submit</button>
</form>