<form class="form-horizontal" ng-submit="saveGame()">
    <div class="form-group">
        <label for="series" class="col-sm-2 control-label">SERIES:</label>
        <div class="col-sm-10">
            <select class="form-control" ng-model="game.series" ng-options="series.value as series.name for series in serieses" id="series" required>
                <option value="">Choose Series</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="series" class="col-sm-2 control-label">PLATFORM:</label>
        <div class="col-sm-10">
            <select class="form-control" ng-model="game.platform" ng-options="platform.value as platform.name for platform in platforms" id="platform" required>
                <option value="">Choose Platform</option>
            </select>
        </div>
    </div>
    <div class="form-group" ng-repeat="field in fields">
        <label for="{{ field }}" class="col-sm-2 control-label">{{ field.toUpperCase() }}:</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" ng-model="game[field]" id="{{ field }}" required/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="title">TITLE:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="title" ng-model="game.title"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="url">URL:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="url" ng-model="game.url"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="description">DESCRIPTION:</label>
        <div class="col-sm-10">
            <textarea id="description" ng-model="game.description" rows="10" class="form-control" required></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">
            CHAPTERS:
            <button class="btn btn-default" type="button" ng-click="addChapter()">Add Chapter</button>
        </label>
        <div class="col-sm-10">
            <div class="row">
                <div class="col-sm-6" ng-repeat="chapter in game.chapters">
                    <label>Title:</label>
                    <input type="text" class="form-control" ng-model="chapter.title"/>
                    <label>Description:</label>
                    <textarea ng-model="chapter.description" rows="5" class="form-control"></textarea>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-success pull-right" type="submit">Submit</button>
</form>