section.game-detail {
  color: @white;
  .opacity(0);
  div.game-header {
    padding-bottom: 20px;
    .game-image {
      float: left;
      width: 150px;
      height: 150px;
    }
    .game-title {
      margin-left: 180px;
      padding-top: 15px;
      h1, h3 {
        margin-top: 0;
      }
      .game-platform {
        border-bottom: 1px solid #6186ff;
      }
    }
  }
  div.game-intro {
    .col-sm-8 {
      border-right: 1px solid #eee;
    }
    .game-info {
      dt {
        float: left;
        width: 40%;
      }
      dd {
        float: left;
        width: 60%;
        color: #e03800;
      }
    }
  }
}