body.gourmetController {
  background-color: @gourmetBackgroundColor;
  .gourmet-title {
    padding-top: 30px;
    text-align: center;
    > a > img {
      width: 100%;
      max-width: 357px;
    }
  }
  .gourmet-list {
    padding: 20px 0;
    .gourmet-item {
      margin: 20px 0;
      height: 206px;
      text-align: center;
      &.hidden {
        display: none !important;
      }
      &:hover {
        .gourmet-item-link {
          @media @screenTabletAbove {
            margin: -25px -12px;
            padding: 25px 12px;
          }
        }
        .gourmet-item-title {
          @media @screenTabletAbove {
            .opacity(100);
          }
        }
      }
      .gourmet-item-title {
        position: absolute;
        left: 0;
        right: 0;
        height: 25px;
        line-height: 25px;
        color: @gourmetItemColor;
        z-index: 2;
        .opacity(0);
        .transition(all 0.2s linear 0.1s);
        &.top {
          top: -10px;
        }
        &.bottom {
          bottom: 15px;
          .text-limit();
          @media @screenMobile {
            bottom: -35px;
            .opacity(100);
          }
        }
      }
      .gourmet-item-link {
        display: inline-block;
        margin: -5px;
        padding: 5px;
        background-color: @white;
        -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.08),0 1px 5px rgba(0,0,0,.1);
        -moz-box-shadow: 0 0 0 1px rgba(0,0,0,.08),0 1px 5px rgba(0,0,0,.1);
        box-shadow: 0 0 0 1px rgba(0,0,0,.08),0 1px 5px rgba(0,0,0,.1);
        .transition(all 0.2s linear);
        > img {
          width: 100%;
          max-width: 150px;
        }
      }
    }
  }
  .gourmet-loader {
    position: relative;
    height: 50px;
  }
  .gourmet-progress {
    padding: 300px 30px 0;
  }
}