body.homeController {
  background-color: @fullBlack;
  overflow: hidden;
  nav.menu {
    display: none;
  }
  section.home-list {
    .translate(0px, 0px);
    .transition(all 0.3s ease-in-out);
    .home-list-item {
      text-align: center;
      background-position: center;
      background-size: cover;
      &.about {
        background-image: url("http://zhuhaolin.com/images/73ad5a84dcefe956276f1bd07c6316dd.jpg");
      }
      &.playstation {
        background-image: url("http://zhuhaolin.com/images/66a7d162d0bdf9aa302e280cbb5d90d6.jpg");
      }
      &.gourmet {
        background-image: url("http://zhuhaolin.com/images/a15bc6b5656eb67d2e0cde3c2e7f583a.jpg");
      }
      &.manutd {
        background-image: url("http://zhuhaolin.com/images/abb4387b620523942e197d39bf38b611.jpg");
      }
      &.saiban {
        background-image: url("http://zhuhaolin.com/images/566b87a4710605f312ec139dcd71088a.jpg");
      }
      > h1 {
        color: @white;
      }
      .home-item-icon {
        border: 5px solid @white;
      }
      .ui.list {
        .item {
          > a {
            color: @darkWhite !important;
            &:hover {
              color: @whiteHover !important;
            }
          }
        }
      }
    }
  }
}