section.playstation-games-list {
  margin-top: -50px;
  padding-top: 230px;
  background-image: url('http://bill0106.com/images/77f7ef7a1819c1d39fe10e378e4ec57b.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  .playstation-games-row {
    .playstation-game-item {
      position: relative;
      padding: 0;
      color: @white;
      overflow: hidden;
      .gradient(45deg, #002d5e, #005da5);
      @media (min-width: @screen-lg-min) {
        height: 190px;
      }
      @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
        height: 156.5px;
      }
      @media (max-width: @screen-sm-max) {
        height: 180px;
      }
      .game-item-title, .game-item-image, .game-item-wrapper {
        position: absolute;
        top: 0;
        width: 50%;
        height: 100%;
        text-align: center;
        .transition(all 0.2s linear);
      }
      .game-item-title {
        padding: 5px;
        z-index: 3;
        .game-title {
          line-height: 25px;
          font-size: @font-size-large;
          font-weight: 700;
        }
        .game-name {
          margin-bottom: 10px;
        }
        .game-rate {
          font-size: @font-size-large;
        }
      }
      .game-item-image {
        background-color: @white;
        z-index: 1;
      }
      .game-item-wrapper {
        left: -50%;
        line-height: 100%;
        font-size: 20px;
        z-index: 2;
        @media (min-width: @screen-lg-min) {
          line-height: 190px;
        }
        @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
          line-height: 156.5px;
        }
        @media (max-width: @screen-sm-max) {
          line-height: 180px;
        }
        img {
          vertical-align: middle;
        }
      }
    }
  }
  .playstation-games-row {
    &:nth-child(odd) {
      .playstation-game-item {
        .game-item-image {
          left: 0;
        }
        .game-item-title {
          left: 50%;
        }
        &:hover .game-item-title {
          left: 0;
        }
        &:hover .game-item-wrapper {
          left: 50%;
        }
        &:hover .game-item-image {
          left: -50%;
        }
      }
    }
    &:nth-child(even) {
      .playstation-game-item {
        .game-item-title {
          left: 0;
        }
        .game-item-image {
          left: 50%;
        }
        &:hover .game-item-title {
          left: 50%;
        }
        &:hover .game-item-wrapper {
          left: 0;
        }
        &:hover .game-item-image {
          left: 100%;
        }
      }
    }
  }
}