body.playStationController {
  background-color: @black;
  .playstation-games-list {
    .column {
      &.hidden {
        display: none!important;
      }
      .playstations-games-item {
        .dimmer {
          padding: 15px;
        }
      }
    }
    .playstation-game-loader {
      position: relative;
      height: 50px;
    }
  }
  .playstation-games-progress {
    padding: 300px 30px 0;
  }
}