<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <section class="game-page-header page-header clearfix">
                <img ng-src="{{ game.image | imageUrl }}" alt="{{ game.title + ' ' + game.name }}" title="{{ game.title + ' ' + game.name }}"/>
                <div class="page-header-text">
                    <h1>{{ game.title }}</h1>
                    <h2>{{ game.name }}</h2>
                    <p class="header-text-date">
                        <span>Release at {{ game.release_at | date: 'MMM dd, yyyy'}}</span>
                        <i>/</i>
                        <span>Buy at {{ game.buy_at | date: 'MMM dd, yyyy'}}</span>
                    </p>
                    <p class="header-text-platform">
                        <span>{{ platforms[game.platform].name }}</span>
                        /
                        <span class="text-platform-trophy">
                            {{ trophies_completed ? trophies_completed : '0' }}% Trophies Completed
                            <span class="platform-trophy-line" ng-style="{ 'width': (trophies_completed) + '%' }"></span>
                        </span>
                    </p>
                </div>
                <div ng-if="game.rate != 0" class="page-header-rate">
                    <div class="header-rate-inner">{{ game.rate }}</div>
                    <p>Personal Review<span>{{ rateText[(game.rate - 1)] }}</span></p>
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="35" cy="35" r="30" ng-style="{ 'stroke-dashoffset': (190 - game.rate / 5 * 190) + 'px' }"></circle>
                    </svg>
                </div>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 game-page-description">
            <p ng-repeat="paragraph in getParagraph(game.description)">{{ paragraph }}</p>
        </div>
        <div class="col-sm-4">
            <dl class="dl-horizontal game-page-info">
                <dt>Developed by:</dt>
                <dd>{{ game.developer }}</dd>
                <dt>Published by:</dt>
                <dd>{{ game.publisher }}</dd>
                <dt>Genre:</dt>
                <dd>{{ genres[game.genre].name }}</dd>
            </dl>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <ul class="list-unstyled game-page-trophies clearfix">
                <li ng-repeat="trophy in trophies">
                    <div class="page-trophy-item" ng-class="trophy.date ? '' : 'not-earned'">
                        <div class="trophy-item-main clearfix">
                            <img ng-src="{{ trophy.image }}" alt="{{ trophy.title }}" title="{{ trophy_rarity[trophy.rarity].name }}"/>
                            <div class="item-main-text">
                                <p>{{ trophy.title }}</p>
                                <span class="description">{{ trophy.description }}</span>
                            </div>
                        </div>
                        <p class="trophy-item-date" ng-if="trophy.date">
                            Earned at: <span>{{ trophy.date | date: 'dd MMM yyyy'}}</span>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>