<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <section class="games-trophy-card">
                <a href="http://psnprofiles.com/bill_lord" target="_blank">
                    <img class="trophy-card-img" src="http://card.psnprofiles.com/1/bill_lord.png" border="0">
                </a>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <ul class="list-unstyled games-list clearfix" infinite-scroll="loadMore()" infinite-scroll-disabled=busy>
                <li ng-repeat="game in games">
                    <div class="game-item-card">
                        <a ui-sref="game({ url: game.url })" class="item-card-image" ng-style="{'background-color': (game.image | imageHelper:'color')}">
                            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=" alt=""/>
                        </a>
                        <div class="item-card-caption">
                            <a ui-sref="game({ url: game.url })" class="card-caption-title">
                                <h3>{{ game.title }}</h3>
                            </a>
                            <p class="card-caption-second">{{ game.name }}</p>
                            <div class="card-caption-footer clearfix">
                                <i class="caption-footer-rate" ng-style="{'width': (game.rate * 15) + 'px'}">{{ game.rate }}</i>
                                <span class="caption-footer-time">{{ game.buy_at | date:"yyyy.MM.dd" }}</span>
                            </div>
                            <span class="card-caption-end"></span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--<div class="row" >-->
        <!--<div class="col-sm-4 col-md-3" ng-repeat="game in games">-->
            <!--<a class="thumbnail" ui-sref="game({ url: game.url })" data-games-item="{{ game._id }}">-->
                <!--<img ng-src="{{ game.image | imageUrl }}" alt="{{ game.title + ' ' + game.name }}" title="{{ game.title + ' ' + game.name }}"/>-->
                <!--<div class="caption">-->
                    <!--<h3>{{ game.title }}</h3>-->
                    <!--<p class="item-second-title">{{ game.name }}</p>-->
                    <!--<p class="item-rate">-->
                        <!--<i class="fa fa-gamepad" ng-repeat="i in getNumber(game.rate) track by $index"></i>-->
                    <!--</p>-->
                <!--</div>-->
            <!--</a>-->
        <!--</div>-->
    <!--</div>-->
    <section class="more-load" ng-show="show">
        <i class="fa fa-spinner fa-pulse"></i>
    </section>
</div>