<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <section class="gourmets-page-title">
                <a href="http://instagram.com/bill0106" target="_blank">
                    <img ng-src="http://7xtddu.com1.z0.glb.clouddn.com/0bf0b9777a775a5c382a1f9c205c52d1.png" alt="Gourmet Tour" title="Gourmet Tour"/>
                </a>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <ul class="list-unstyled gourmets-page-list clearfix" infinite-scroll="loadMore()" infinite-scroll-disabled=busy>
                <li ng-repeat="gourmet in gourmets">
                    <a ng-href="{{ gourmet.url }}" target="_blank" class="gourmets-page-item" ng-style="{'background-color': (gourmet.image | imageHelper:'color')}">
                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII="
                             lazy-img="{{ gourmet.image | imageHelper:'url' }}"
                             alt="{{ gourmet.food + ' - ' + gourmet.restaurant }}"
                             title="{{ gourmet.food + ' - ' + gourmet.restaurant }}"/>
                        <div class="page-item-text">
                            <h3>{{ gourmet.food }}</h3>
                            <span>{{ gourmet.date | date:"yyyy.MM.dd" }}</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <section class="site-loading-spinner" ng-show="show">
        <img src="http://7xtddu.com1.z0.glb.clouddn.com/loading_ring.gif" alt=""/>
    </section>
</div>