body.gamesController {
  background-color: @gameBackground;
  section.trophy-card {
    margin-bottom: 20px;
    text-align: center;
    .trophy-card-img {
      max-width: 100%;
    }
  }
  a.thumbnail {
    &:hover, &:active, &:focus {
      text-decoration: none;
      .caption {
        > h3 {
          color: lighten(@PlayStation, 20%);
        }
      }
    }
    .caption {
      > h3 {
        margin: 0;
        font-size: @fontSizeLarge;
        color: @PlayStation;
        .text-limit();
      }
      > p {
        margin-left: -3px;
        margin-bottom: 0;
        &.item-second-title {
          margin-left: 0;
          color: @grayLight;
          .text-limit();
        }
        &.item-rate {
          height: @lineHeightMedium;
        }
        > i {
          margin: 0 3px;
        }
      }
    }
  }
}

body.gameController {
  color: @white;
  background-color: @gameBackground;
  section.page-header {
    padding-bottom: 20px;
    .clearfix();
    @media @screenMobile {
      margin-top: 0;
      text-align: center;
    }
    > img {
      float: left;
      width: 150px;
      height: 150px;
      @media @screenMobile {
        float: none;
        margin-bottom: 10px;
      }
    }
    .page-header-text {
      float: left;
      margin-left: 30px;
      @media @screenMobile {
        float: none;
        margin-left: 0;
      }
      > h1 {
        margin-top: 0;
        @media @screenMobile {
          font-size: @fontSizeMassive;
        }
        > small {
          display: block;
          color: @grayLight;
        }
      }
      > p {
        font-size: @fontSizeBig;
        &.game-platform {
          > span {
            display: inline-block;
            border-bottom: 1px solid lighten(@PlayStation, 10%);
            &.game-trophy {
              position: relative;
              border-color: transparent;
              .trophy-line {
                display: block;
                position: absolute;
                left: 0;
                bottom: -1px;
                width: 0;
                height: 1px;
                background-color: @gameRate;
                .transition(width, 1s, ease-in-out, 1s);
              }
            }
          }
        }
        &.game-date {
          @media @screenMobile {
            > i {
              display: none;
            }
            > span {
              display: block;
            }
          }
        }
      }
    }
    .game-rate {
      float: right;
      position: relative;
      margin-top: 10px;
      margin-right: 100px;
      width: 70px;
      height: 70px;
      @media @screenTablet {
        margin-right: 20px;
      }
      @media @screenMobile {
        float: none;
        margin: 20px auto 0;
      }
      &.game-rate-0 {
        .game-rate-clip {
          display: none;
        }
      }
      &.game-rate-1 {
        .game-rate-clip {
          &.right {
            border-radius: 0;
            .game-rate-fill {
              .opacity(0);
            }
            .game-rate-mask {
              .opacity(100);
            }
          }
          &.left {
            .rotate(72deg);
          }
        }
      }
      &.game-rate-2 {
        .game-rate-clip {
          &.right {
            border-radius: 0;
            .game-rate-fill {
              .opacity(0);
            }
            .game-rate-mask {
              .opacity(100);
            }
          }
          &.left {
            .rotate(144deg);
          }
        }
      }
      &.game-rate-3 {
        .game-rate-clip {
          &.left {
            .rotate(216deg);
          }
        }
      }
      &.game-rate-4 {
        .game-rate-clip {
          &.left {
            .rotate(288deg);
          }
        }
      }
      .game-rate-clip {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 100%;
        overflow: hidden;
        &.right {
          z-index: 20;
          .game-rate-fill {
            right: 0;
          }
          .game-rate-mask {
            background-color: @gameBackground;
            left: 0;
            .opacity(0);
          }
        }
        &.left {
          z-index: 10;
          .game-rate-fill {
            left: 0;
          }
          .game-rate-mask {
            right: 0;
          }
        }
        .game-rate-fill {
          position: absolute;
          top: 0;
          width: 50%;
          height: 100%;
          background-color: @gameRate;
        }
        .game-rate-mask {
          position: absolute;
          top: 0;
          width: 50%;
          height: 100%;
        }
      }
      .game-rate-inner {
        position: absolute;
        top: 7px;
        right: 7px;
        bottom: 7px;
        left: 7px;
        font-size: 35px;
        line-height: 35px;
        text-align: center;
        border-radius: 100%;
        background-color: @gameBackground;
        text-shadow: rgba(0,0,0,0.5) 0 1px 5px;
        box-shadow: rgba(0,0,0,0.75) 0 0 3px,rgba(255,255,255,0.3) 0 0 1px inset;
        z-index: 100;
        .game-rate-table {
          display: table;
          width: 100%;
          height: 100%;
          .game-rate-cell {
            display: table-cell;
            vertical-align: middle;
          }
        }
      }
      > p {
        position: absolute;
        top: 110%;
        left: 50%;
        margin-left: -55px;
        margin-bottom: 0;
        width: 110px;
        text-align: center;
        @media @screenMobile {
          display: none;
        }
        > span {
          display: block;
          font-size: @fontSizeLarge;
          font-style: italic;
          color: @gameRate;
          letter-spacing: 1px;
        }
      }
    }
  }
  .game-description {
    border-right: 1px solid @white;
    @media @screenMobile {
      border-right: none;
    }
  }
  .dl-horizontal {
    @media @screenMobile {
      padding-top: 10px;
      border-top: 1px solid @white;
    }
    > dt {
      width: 130px;
      text-align: left;
      font-weight: normal;
      color: @grayLight;
    }
    > dd {
      margin-left: 150px;
      color: @gameInfo;
      @media @screenMobile {
        margin-left: 0;
      }
    }
  }
  .btn-block {
    margin-bottom: 20px;
  }
  section.game-trophies-list {
    margin-top: 30px;
    .game-trophy-item {
      margin: 10px 0;
      padding: 10px;
      background-color: @gameTrophyBackground;
      &.not-earned {
        .trophy-main {
          > img {
            .opacity(50);
          }
        }
        > p {
          > span {
            display: none;
          }
        }
      }
      &.earned {
        .trophy-main {
          > img {
            border-color: @gameTrophyEarned;
          }
        }
      }
      .trophy-main {
        margin-bottom: 5px;
        .clearfix();
        > img {
          float: left;
          border: 5px solid @gameTrophyNotEarned;
        }
        .game-trophy-text {
          margin-left: 75px;
          > p {
            margin-bottom: 0;
            font-weight: bold;
          }
          .description {
            display: block;
            height: (@lineHeightMedium * 2);
            overflow: hidden;
          }
        }
      }
      > p {
        margin: 0;
        height: @lineHeightMedium;
        > span.date {
          font-weight: bold;
          color: @gameTrophyEarned;
        }
      }
    }
  }
}