body, h1, h2, h3, h4, h5, h6 {
  font-family: $fontFamily !important;
  font-weight: normal;
}
body {
  line-height: $lineHeightMedium;
}
nav.navbar {
  border-radius: 0;
}
section.site-loading-spinner {
  padding: 20px 0;
  text-align: center;
}