<form class="form-horizontal" ng-submit="saveGame()">
    <div class="form-group" ng-repeat="field in fields" ng-switch="field">
        <label for="{{ field }}" class="col-sm-2 control-label">{{ field.toUpperCase() }}:</label>

        <!--Default Input-->
        <div class="col-sm-10" ng-switch-default>
            <input class="form-control" type="text" placeholder="Enter {{ field }}" ng-model="game[field]" id="{{ field }}"/>
        </div>

        <!--Image Upload-->
        <div class="col-sm-10" ng-switch-when="image">
            <span class="admin-image-upload">
                <img src="" alt=""/>
                <input type="file" class="form-control" name="image_file" ngf-select ng-model="file"/>
            </span>
            <input type="hidden" ng-model="game.image" id="image"/>
        </div>

        <!--Platform Select-->
        <div class="col-sm-10" ng-switch-when="platform">
            <select class="form-control" ng-model="game.platform" ng-options="platform.value as platform.name for platform in platforms" id="platform" required>
                <option value="">Choose platform</option>
            </select>
        </div>

        <!--Genre Select-->
        <div class="col-sm-10" ng-switch-when="genre">
            <select class="form-control" ng-model="game.genre" ng-options="genre.value as genre.name for genre in genres" id="genre" required>
                <option value="">Choose genre</option>
            </select>
        </div>

        <!--Description Textarea-->
        <div class="col-sm-10" ng-switch-when="description">
            <textarea class="form-control" rows="15" placeholder="Enter description" ng-model="game.description" id="description" required></textarea>
        </div>
    </div>
    <button class="btn btn-primary pull-right" type="submit">Submit</button>
</form>