<p>
    <a ui-sref="gameCreate" class="btn btn-primary">Add Game</a>
    Count: {{ count }}
</p>
<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Name</th>
        <th>Platform</th>
        <th>Genre</th>
        <th>Released</th>
        <th>Buy</th>
        <th>Operation</th>
    </tr>
    </thead>
    <tr ng-repeat="game in games">
        <td>
            <a ui-sref="gameUpdate({ url: game.url })">{{ game._id }}</a>
        </td>
        <td>{{ game.title }}</td>
        <td>{{ game.name }}</td>
        <td>{{ platforms[game.platform].name }}</td>
        <td>{{ genres[game.genre].name }}</td>
        <td>{{ game.release_at | date:"yyyy-MM-dd" }}</td>
        <td>{{ game.buy_at | date:"yyyy-MM-dd" }}</td>
        <td>
            <a ui-sref="gameTrophies({ id: game.trophies })" class="btn btn-success" ng-if="game.trophies"><i class="fa fa-trophy"></i></a>
            <a ui-sref="gameTrophiesScrap({ id: game._id })" class="btn btn-success" ng-if="!game.trophies"><i class="fa fa-trophy"></i></a>
        </td>
    </tr>
</table>