<p>
    <span>Earned: {{ trophies.earned }}</span>
    <span>Total: {{ trophies.total }}</span>
</p>
<div class="row">
    <div class="col-sm-12">
        <form ng-submit="saveTrophies()">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <td>Title</td>
                    <td>Description</td>
                    <td>Image</td>
                    <td>Date</td>
                    <td>Rarity</td>
                    <td>Tool</td>
                </tr>
                </thead>
                <tr ng-repeat="trophy in trophies.trophies track by $index">
                    <td>
                        <input type="text" ng-model="trophy.title" class="form-control" id="title"/>
                    </td>
                    <td>
                        <input type="text" ng-model="trophy.description" class="form-control" id="description"/>
                    </td>
                    <td>
                        <input type="text" ng-model="trophy.image" class="form-control" id="image"/>
                    </td>
                    <td>
                        <input type="text" ng-model="trophy.date" class="form-control" id="date"/>
                    </td>
                    <td>
                        <select class="form-control" ng-model="trophy.rarity" ng-options="rarity.value as rarity.name for rarity in rarities" id="rarity" required>
                            <option value="">Choose Rarity</option>
                        </select>
                    </td>
                    <td>
                        <button class="btn btn-danger" type="button" ng-click="removeTrophy($index)">&times;</button>
                    </td>
                </tr>
            </table>
            <button class="btn btn-success" type="submit">Submit</button>
            <button class="btn btn-primary" type="button" ng-click="addTrophy()">Add Trophy</button>
        </form>
    </div>
</div>