main.my-hearthstone {
  padding: 20px 0;
  background: $pinkLady;
  section.my-hearthstone-item {
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 8px;
    background: $pureWhite;
    -webkit-box-shadow: 0 2px 2px 0 rgba($pureBlack, .14),0 3px 1px -2px rgba($pureBlack, .2),0 1px 5px 0 rgba($pureBlack, .12);
    -moz-box-shadow: 0 2px 2px 0 rgba($pureBlack, .14),0 3px 1px -2px rgba($pureBlack, .2),0 1px 5px 0 rgba($pureBlack, .12);
    box-shadow: 0 2px 2px 0 rgba($pureBlack, .14),0 3px 1px -2px rgba($pureBlack, .2),0 1px 5px 0 rgba($pureBlack, .12);
    .hearthstone-item-header {
      display: block;
      position: relative;
      cursor: pointer;
      &:hover, &:focus &:active {
        text-decoration: none;
      }
      > h2 {
        position: absolute;
        left: 15px;
        bottom: 10px;
        margin: 0;
        max-width: 90%;
        line-height: $lineHeightLarge;
        font-size: $fontSizeMassive;
        color: $pureWhite;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      > img {
        width: 100%;
        opacity: 0;
        @include transition(opacity, 0.3s, ease-in-out);
        &.ng2-lazyloaded {
          opacity: 1;
        }
      }
    }
    .hearthstone-item-text {
      margin-bottom: 10px;
      padding: 15px;
      border-bottom: 1px solid rgba($pureBlack, 0.1);
      > p {
        margin: 0;
        height: ($lineHeightMedium * 3);
        line-height: $lineHeightMedium;
        color: $dimGray;
        overflow: hidden;
      }
    }
    .btn {
      margin-left: 8px;
      padding: 5px 7px;
      &:hover, &:active, &:focus {
        text-decoration: none;
        background-color: rgba($darkGray, .2);
      }
    }
    .hearthstone-item-rank {
      display: block;
      position: absolute;
      top: 15px;
      right: 15px;
      width: 50px;
      height: 64.5px;
      background: url("#{$hearthStoneRank}") no-repeat;
      background-size: 50px;
      text-indent: -9999px;
      @for $i from 1 through 25 {
        &.rank-#{$i} {
          background-position: 0 (($i - 1) * -65.5px);
        }
      }
    }
  }
  section.hearthstone-season-header {
    margin-bottom: 30px;
    padding-top: 20px;
    text-align: center;
    > h1 {
      margin: 0 0 15px;
      color: $regalBlue;
    }
    > p {
      margin: 0 auto 15px;
      max-width: 760px;
      text-align: left;
      font-size: $fontSizeBig;
    }
    > img {
      margin: 0 0 30px;
      width: 100%;
      max-width: 760px;
    }
    .season-header-rank {
      > span {
        display: inline-block;
        margin: 0 3px;
        vertical-align: middle;
        font-size: $fontSizeBig;
        & + span {
          font-size: $fontSizeMassive;
        }
      }
    }
  }
  table.hearthstone-matches-table {
    > thead {
      > tr {
        > th {
          text-align: center;
          @media #{$screenTabletBlow} {
            display: none;
            &:nth-child(1), &:nth-child(11), &:nth-child(12) {
              display: table-cell;
              width: percentage(1 / 3);
            }
          }
          &:first-child {
            text-align: left;
          }
        }
      }
    }
    > tbody {
      > tr {
        &:last-child {
          > td {
            font-weight: bold;
          }
        }
        > td {
          text-align: center;
          vertical-align: middle;
          @media #{$screenTabletBlow} {
            display: none;
            &:nth-child(1), &:nth-child(11), &:nth-child(12) {
              display: table-cell;
              width: percentage(1 / 3);
            }
          }
          &:first-child {
            text-align: left;
          }
        }
      }
    }
  }
}
section.hs-deck-header {
  padding-top: 20px;
  > h1 {
    margin: 0 0 30px;
    text-align: center;
  }
  .deck-header-cards {
    > li {
      float: left;
      position: relative;
      margin-bottom: 1px;
      width: 25%;
      @media #{$screenTablet} {
        width: percentage(1 / 3);
      }
      @media #{$screenMobile} {
        float: none;
        width: 100%;
      }
      > div {
        float: left;
        height: 30px;
        line-height: $lineHeightLarge;
        color: $pureWhite;
      }
      .card-item-mana, .card-item-count {
        width: 25px;
        text-align: center;
        font-size: $fontSizeHuge;
        font-family: "Impact";
        background: $ceruleanBlue;
      }
      .card-item-name {
        position: relative;
        padding-left: 10px;
        width: 82%;
        background: $nightRider;
        @media #{$screenTabletBlow} {
          width: 78%;
        }
        @media #{$screenMobile} {
          width: 82%;
        }
        &.rarity-0, &.rarity-1 {
          color: $pureWhite;
        }
        &.rarity-2 {
          color: $dodgerBlue;
        }
        &.rarity-3 {
          color: $blueViolet;
        }
        &.rarity-4 {
          color: $darkOrange;
        }
        > span {
          position: relative;
          z-index: 200;
        }
        .item-name-image {
          position: absolute;
          top: 0;
          right: 0;
          width: 110px;
          height: 100%;
          overflow: hidden;
          > span {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url("#{$hearthStoneMask}") no-repeat 0 0;
            background-size: cover;
            z-index: 100;
          }
          > img {
            position: relative;
            width: 200px;
            margin-top: -80px;
            margin-left: -35px;
            z-index: 10;
          }
        }
      }
      .card-item-count {
        color: $laRioja;
        background-color: $nightRider;
      }
    }
  }
}