<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard - Bill's Hobby | Write as a interest</title>
    <link rel="stylesheet" href="../../assets/styles/bootstrap.min.css"/>
    <script src="../../assets/javascripts/angular-file-upload-shim.min.js"></script>
    <script src="../../assets/javascripts/angular.min.js"></script>
    <script src="../../assets/javascripts/angular-file-upload.min.js"></script>
    <script src="../../dist/javascripts/adminApp.min.js"></script>
</head>
<body ng-app="adminApp">
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header text-center">
                <h1>Welcome Back, My Master</h1>
            </div>
        </div>
    </div>
    <div class="row" ng-admin>
        <div class="col-sm-4">
            <ul class="nav nav-pills nav-stacked well">
                <li role="presentation"><a href="playstation" data-admin="nav">PlayStation Games Update</a></li>
                <li role="presentation"><a href="gourmet" data-admin="nav">Gourmet Update</a></li>
                <li role="presentation">
                    <a href="#" class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">Man Utd <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="manutdPlayerProfile" data-admin="nav">Player Profile</a></li>
                    </ul>
                </li>
                <li role="presentation"><a href="http://zhuhaolin.com:8081" target="_blank">Database Web-Viewer</a></li>
            </ul>
            <div class="well clearfix" ng-controller="imageUploadController">
                <h3>Image Upload</h3>
                <form>
                    <div class="form-group">
                        <input class="form-control" type="file" ng-file-select="onFileSelect($files)"/>
                        <p style="margin-top: 10px; margin-bottom: 0; text-align: center; font-size: 16px;">{{ imageName }}</p>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="well clearfix" ng-controller="GamePostController" data-admin="target" data-href="playstation">
                <h3>PlayStation Games Update</h3>
                <form ng-submit="createGame()">
                    <div class="form-group" ng-repeat="field in fields">
                        <input class="form-control" type="text" placeholder="Enter {{ field }}" ng-model="formData[field]"/>
                    </div>
                    <div class="form-group">
                        <select class="form-control" ng-model="formData.platform" ng-options="platform.name for platform in platforms">
                            <option value="">Choose platform</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control" ng-model="formData.genre" ng-options="genre.name for genre in genres">
                            <option value="">Choose genre</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" rows="3" placeholder="Enter description" ng-model="formData.description"></textarea>
                    </div>
                    <button class="btn btn-primary pull-right" type="submit">Submit</button>
                </form>
                <p style="font-size: 16px;" ng-show="show">{{ game }} created!</p>
            </div>
            <div class="well clearfix" ng-controller="GourmetPostController" data-admin="target" data-href="gourmet">
                <h3>Gourmet Update</h3>
                <form ng-submit="createGourmet()">
                    <div class="form-group" ng-repeat="field in fields">
                        <input class="form-control" type="text" placeholder="Enter {{ field }}" ng-model="formData[field]"/>
                    </div>
                    <button class="btn btn-primary pull-right" type="submit">Submit</button>
                </form>
                <p style="font-size: 16px;" ng-show="show">{{ gourmet }} created!</p>
            </div>
            <div class="well clearfix" ng-controller="ManutdPlayerProfile" data-admin="target" data-href="manutdPlayerProfile">
                <h3>ManUtd Player Profile Update</h3>
                <form ng-submit="createPlayer()">
                    <div class="form-group" ng-repeat="field in fields">
                        <input class="form-control" type="text" placeholder="Enter {{ field }}" ng-model="formData[field]"/>
                    </div>
                    <div class="form-group">
                        <select class="form-control" ng-model="formData.position" ng-options="position.name for position in positions">
                            <option value="">Choose position</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" rows="3" placeholder="Enter description" ng-model="formData.description"></textarea>
                    </div>
                    <button class="btn btn-primary pull-right" type="submit">Submit</button>
                </form>
                <p style="font-size: 16px;" ng-show="show">{{ player }} created!</p>
            </div>
        </div>
    </div>
</div>

<!--jQuery-->
<script src="../../libs/jquery/dist/jquery.min.js"></script>

<!--Bootstrap JS-->
<script src="../../libs/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>