<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Name</th>
        <th>Platform</th>
        <th>Genre</th>
        <th>released_at</th>
        <th>buy_at</th>
        <th>Operation</th>
    </tr>
    </thead>
    <tr ng-repeat="game in games">
        <td>{{ game._id }}</td>
        <td>{{ game.title }}</td>
        <td>{{ game.name }}</td>
        <td>{{ platforms[game.platform].name }}</td>
        <td>{{ genres[game.genre].name }}</td>
        <td>{{ game.release_at | date:"yyyy-MM-dd" }}</td>
        <td>{{ game.buy_at | date:"yyyy-MM-dd" }}</td>
        <td><a ui-sref="game({ url: game.url })" class="btn btn-primary"><i class="fa fa-pencil-square-o"></i></a></td>
    </tr>
</table>