<!DOCTYPE html>
<html lang="en" ng-app="myAdmin">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard - {{ title }}</title>

    <link rel="stylesheet" href="../../assets/style/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../assets/style/font-awesome.min.css"/>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a ui-sref="index" class="navbar-brand">Home</a>
            </div>
            <ul class="nav navbar-nav">
                <li ui-sref-active="active"><a ui-sref="games">Games</a></li>
                <li ui-sref-active="active"><a ui-sref="gourmets">Gourmets</a></li>
                <li ui-sref-active="active"><a ui-sref="hearthStoneSeasons">Hearth Stone</a></li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div ui-view></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default" style="margin-top: 20px" ng-controller="imageUploadController">
                    <div class="panel-heading">Image Upload</div>
                    <div class="panel-body">
                        <form>
                            <div class="form-group">
                                <input class="form-control" type="file" ngf-select ng-model="file"/>
                            </div>
                            <div class="progress" ng-show="uploading">
                                <div class="progress-bar" role="progressbar" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress }}%;">
                                    <span class="sr-only">{{ progress }}% Complete</span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="panel-footer">
                        <div class="alert alert-success" role="alert" ng-show="success">
                            <p>success: {{ imageName }}</p>
                        </div>
                        <div class="alert alert-danger" role="alert" ng-show="fail">
                            <p>error: {{ msg }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- AngularJS Dependencies -->
    <script src="../../assets/javascripts/jquery.min.js"></script>
    <script src="../../assets/javascripts/angular.min.js"></script>
    <script src="../../assets/javascripts/angular-ui-router.min.js"></script>
    <script src="../../assets/javascripts/angular-resource.min.js"></script>
    <script src="../../assets/javascripts/ng-file-upload.min.js"></script>

    <!-- MyAdmin AngularJS -->
    <script src="../../javascripts/admin.min.js"></script>

    <!-- Bootstrap's JavaScript plugins -->
    <script src="../../assets/javascripts/bootstrap.min.js"></script>

    <!-- Google Analytics Codes -->
</body>
</html>