/*-------------------
     Breakpoints
--------------------*/
/*-------------------
        Fonts
--------------------*/
/*-------------------
        Colors
--------------------*/
/*-------------------
        Other
--------------------*/
/*-------------------
        Index
--------------------*/
/*-------------------
        Games
--------------------*/
/*-------------------
       Gourmets
--------------------*/
/*-------------------
     HearthStone
--------------------*/
nav.navbar {
  border-radius: 0;
}
@media only screen and (max-width: 767px) {
  nav.navbar .navbar-collapse .navbar-right > li {
    display: inline-block;
  }
}
nav.navbar .navbar-collapse .navbar-right > li > a {
  font-size: 20px;
}
section.loading-mask {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: #000000;
  z-index: 100;
}
section.loading-mask .progress {
  position: fixed;
  top: 50%;
  left: 50px;
  right: 50px;
  margin: -10px 0 0;
}
@media only screen and (max-width: 767px) {
  section.loading-mask .progress {
    left: 25px;
    right: 25px;
  }
}
section.more-load {
  margin-bottom: 20px;
  text-align: center;
}
section.more-load > i {
  font-size: 30px;
  color: #ffffff;
}
body.homeController {
  background-color: #000000;
  overflow: hidden;
}
body.homeController nav.navbar {
  display: none;
}
body.homeController section.carousel {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
}
body.homeController section.carousel:hover .carousel-control {
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}
body.homeController section.carousel .carousel-inner {
  height: 100%;
}
body.homeController section.carousel .carousel-inner .item {
  padding-top: 200px;
  width: 100%;
  height: 100%;
  text-align: center;
  background-position: center;
  background-size: cover;
}
body.homeController section.carousel .carousel-inner .item.item-0 {
  background-image: url('http://zhuhaolin.com/images/73ad5a84dcefe956276f1bd07c6316dd.jpg');
}
body.homeController section.carousel .carousel-inner .item.item-1 {
  background-image: url('http://zhuhaolin.com/images/66a7d162d0bdf9aa302e280cbb5d90d6.jpg');
}
body.homeController section.carousel .carousel-inner .item.item-2 {
  background-image: url('http://zhuhaolin.com/images/a15bc6b5656eb67d2e0cde3c2e7f583a.jpg');
}
body.homeController section.carousel .carousel-inner .item.item-3 {
  background-image: url('http://zhuhaolin.com/images/5233e5089e1ff5fff7a85c8aa13304ff.jpg');
}
body.homeController section.carousel .carousel-inner .item.item-4 {
  background-image: url('http://zhuhaolin.com/images/abb4387b620523942e197d39bf38b611.jpg');
}
body.homeController section.carousel .carousel-inner .item.item-5 {
  background-image: url('http://zhuhaolin.com/images/566b87a4710605f312ec139dcd71088a.jpg');
}
@media only screen and (max-width: 767px) {
  body.homeController section.carousel .carousel-inner .item {
    padding-top: 100px;
  }
}
body.homeController section.carousel .carousel-inner .item > div > h1,
body.homeController section.carousel .carousel-inner .item > div > h2 {
  color: #ffffff;
}
@media only screen and (max-width: 767px) {
  body.homeController section.carousel .carousel-inner .item > div > h1,
  body.homeController section.carousel .carousel-inner .item > div > h2 {
    font-size: 20px;
  }
}
body.homeController section.carousel .carousel-inner .item > div > a {
  text-decoration: none;
}
body.homeController section.carousel .carousel-inner .item > div > a:hover > h2 {
  color: #e6e6e6;
}
body.homeController section.carousel .carousel-inner .item > div > a:hover .img-circle {
  border-color: #e6e6e6;
}
body.homeController section.carousel .carousel-inner .item > div > a > h2 {
  color: #ffffff;
}
body.homeController section.carousel .carousel-inner .item > div .img-circle {
  margin: 0 auto;
  width: 150px;
  border: 5px solid #ffffff;
}
@media only screen and (max-width: 767px) {
  body.homeController section.carousel .carousel-inner .item .list-inline {
    display: none;
  }
}
body.homeController section.carousel .carousel-inner .item .list-inline > li {
  margin: 0 10px;
}
body.homeController section.carousel .carousel-inner .item .list-inline > li > a {
  vertical-align: middle;
  font-size: 4em;
  color: #ffffff;
}
body.homeController section.carousel .carousel-control {
  position: fixed;
  top: 50%;
  bottom: auto;
  margin-top: -40px;
  width: auto;
  font-size: 4em;
  color: #ffffff;
  background: none;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
body.gamesController {
  background-color: #242628;
}
body.gamesController section.trophy-card {
  margin-bottom: 20px;
  text-align: center;
}
body.gamesController section.trophy-card .trophy-card-img {
  max-width: 100%;
}
body.gamesController a.thumbnail:hover,
body.gamesController a.thumbnail:active,
body.gamesController a.thumbnail:focus {
  text-decoration: none;
}
body.gamesController a.thumbnail:hover .caption > h3,
body.gamesController a.thumbnail:active .caption > h3,
body.gamesController a.thumbnail:focus .caption > h3 {
  color: #0054ed;
}
body.gamesController a.thumbnail .caption > h3 {
  margin: 0;
  font-size: 18px;
  color: #003087;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
body.gamesController a.thumbnail .caption > p {
  margin-left: -3px;
  margin-bottom: 0;
}
body.gamesController a.thumbnail .caption > p.item-second-title {
  margin-left: 0;
  color: #999999;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
body.gamesController a.thumbnail .caption > p > i {
  margin: 0 3px;
}
body.gameController {
  color: #ffffff;
  background-color: #242628;
}
body.gameController section.page-header {
  padding-bottom: 20px;
}
body.gameController section.page-header:before,
body.gameController section.page-header:after {
  content: " ";
  display: table;
}
body.gameController section.page-header:after {
  clear: both;
}
@media only screen and (max-width: 767px) {
  body.gameController section.page-header {
    margin-top: 0;
    text-align: center;
  }
}
body.gameController section.page-header > img {
  float: left;
  width: 150px;
  height: 150px;
}
@media only screen and (max-width: 767px) {
  body.gameController section.page-header > img {
    float: none;
    margin-bottom: 10px;
  }
}
body.gameController section.page-header .page-header-text {
  float: left;
  margin-left: 30px;
}
@media only screen and (max-width: 767px) {
  body.gameController section.page-header .page-header-text {
    float: none;
    margin-left: 0;
  }
}
body.gameController section.page-header .page-header-text > h1 {
  margin-top: 0;
}
@media only screen and (max-width: 767px) {
  body.gameController section.page-header .page-header-text > h1 {
    font-size: 24px;
  }
}
body.gameController section.page-header .page-header-text > h1 > small {
  display: block;
  color: #999999;
}
body.gameController section.page-header .page-header-text > p {
  font-size: 16px;
}
body.gameController section.page-header .page-header-text > p.game-platform > span {
  display: inline-block;
  border-bottom: 1px solid #0042ba;
}
@media only screen and (max-width: 767px) {
  body.gameController section.page-header .page-header-text > p.game-date > i {
    display: none;
  }
  body.gameController section.page-header .page-header-text > p.game-date > span {
    display: block;
  }
}
body.gameController section.page-header .game-rate {
  float: right;
  position: relative;
  margin-top: 10px;
  margin-right: 100px;
  width: 70px;
  height: 70px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  body.gameController section.page-header .game-rate {
    margin-right: 20px;
  }
}
@media only screen and (max-width: 767px) {
  body.gameController section.page-header .game-rate {
    float: none;
    margin: 20px auto 0;
  }
}
body.gameController section.page-header .game-rate.game-rate-0 .game-rate-clip {
  display: none;
}
body.gameController section.page-header .game-rate.game-rate-1 .game-rate-clip.right {
  border-radius: 0;
}
body.gameController section.page-header .game-rate.game-rate-1 .game-rate-clip.right .game-rate-fill {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
body.gameController section.page-header .game-rate.game-rate-1 .game-rate-clip.right .game-rate-mask {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
body.gameController section.page-header .game-rate.game-rate-1 .game-rate-clip.left {
  -webkit-transform: rotate(72deg);
  -moz-transform: rotate(72deg);
  -ms-transform: rotate(72deg);
  -o-transform: rotate(72deg);
  transform: rotate(72deg);
}
body.gameController section.page-header .game-rate.game-rate-2 .game-rate-clip.right {
  border-radius: 0;
}
body.gameController section.page-header .game-rate.game-rate-2 .game-rate-clip.right .game-rate-fill {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
body.gameController section.page-header .game-rate.game-rate-2 .game-rate-clip.right .game-rate-mask {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
body.gameController section.page-header .game-rate.game-rate-2 .game-rate-clip.left {
  -webkit-transform: rotate(144deg);
  -moz-transform: rotate(144deg);
  -ms-transform: rotate(144deg);
  -o-transform: rotate(144deg);
  transform: rotate(144deg);
}
body.gameController section.page-header .game-rate.game-rate-3 .game-rate-clip.left {
  -webkit-transform: rotate(216deg);
  -moz-transform: rotate(216deg);
  -ms-transform: rotate(216deg);
  -o-transform: rotate(216deg);
  transform: rotate(216deg);
}
body.gameController section.page-header .game-rate.game-rate-4 .game-rate-clip.left {
  -webkit-transform: rotate(288deg);
  -moz-transform: rotate(288deg);
  -ms-transform: rotate(288deg);
  -o-transform: rotate(288deg);
  transform: rotate(288deg);
}
body.gameController section.page-header .game-rate .game-rate-clip {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 100%;
  overflow: hidden;
}
body.gameController section.page-header .game-rate .game-rate-clip.right {
  z-index: 20;
}
body.gameController section.page-header .game-rate .game-rate-clip.right .game-rate-fill {
  right: 0;
}
body.gameController section.page-header .game-rate .game-rate-clip.right .game-rate-mask {
  background-color: #242628;
  left: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
body.gameController section.page-header .game-rate .game-rate-clip.left {
  z-index: 10;
}
body.gameController section.page-header .game-rate .game-rate-clip.left .game-rate-fill {
  left: 0;
}
body.gameController section.page-header .game-rate .game-rate-clip.left .game-rate-mask {
  right: 0;
}
body.gameController section.page-header .game-rate .game-rate-clip .game-rate-fill {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: #e63900;
}
body.gameController section.page-header .game-rate .game-rate-clip .game-rate-mask {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
}
body.gameController section.page-header .game-rate .game-rate-inner {
  position: absolute;
  top: 7px;
  right: 7px;
  bottom: 7px;
  left: 7px;
  font-size: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 100%;
  background-color: #242628;
  text-shadow: rgba(0, 0, 0, 0.5) 0 1px 5px;
  box-shadow: rgba(0, 0, 0, 0.75) 0 0 3px, rgba(255, 255, 255, 0.3) 0 0 1px inset;
  z-index: 100;
}
body.gameController section.page-header .game-rate .game-rate-inner .game-rate-table {
  display: table;
  width: 100%;
  height: 100%;
}
body.gameController section.page-header .game-rate .game-rate-inner .game-rate-table .game-rate-cell {
  display: table-cell;
  vertical-align: middle;
}
body.gameController section.page-header .game-rate > p {
  position: absolute;
  top: 110%;
  left: 50%;
  margin-left: -55px;
  margin-bottom: 0;
  width: 110px;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  body.gameController section.page-header .game-rate > p {
    display: none;
  }
}
body.gameController section.page-header .game-rate > p > span {
  display: block;
  font-size: 18px;
  font-style: italic;
  color: #e63900;
  letter-spacing: 1px;
}
body.gameController .game-description {
  border-right: 1px solid #ffffff;
}
@media only screen and (max-width: 767px) {
  body.gameController .game-description {
    border-right: none;
  }
}
@media only screen and (max-width: 767px) {
  body.gameController .dl-horizontal {
    padding-top: 10px;
    border-top: 1px solid #ffffff;
  }
}
body.gameController .dl-horizontal > dt {
  width: 130px;
  text-align: left;
  font-weight: normal;
  color: #999999;
}
body.gameController .dl-horizontal > dd {
  margin-left: 150px;
  color: #cc3300;
}
@media only screen and (max-width: 767px) {
  body.gameController .dl-horizontal > dd {
    margin-left: 0;
  }
}
body.gameController .btn-block {
  margin-bottom: 20px;
}
body.gourmetsController {
  background-color: #fefcef;
}
body.gourmetsController section.gourmets-title {
  margin-bottom: 20px;
  text-align: center;
}
body.gourmetsController section.gourmets-title > a > img {
  width: 100%;
  max-width: 357px;
}
body.gourmetsController section.gourmets-list .gourmet-item {
  display: block;
  position: relative;
  margin: 10px 0;
}
body.gourmetsController section.gourmets-list .gourmet-item > img {
  width: 100%;
}
body.gourmetsController section.gourmets-list .gourmet-item .gourmet-item-text {
  position: absolute;
  bottom: 0;
  padding: 5px 10px;
  width: 100%;
  background: #000000 transparent;
  background: rgba(0, 0, 0, 0.3);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#4d0000 0, endColorstr=#4d0000 0)";
}
body.gourmetsController section.gourmets-list .gourmet-item .gourmet-item-text > h3 {
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
}
body.gourmetsController section.gourmets-list .gourmet-item .gourmet-item-text > p {
  margin-bottom: 0;
  font-size: 12px;
  text-align: right;
  color: #ffffff;
}
body.gourmetsController section.more-load {
  margin-top: 10px;
}
body.gourmetsController section.more-load > i {
  color: #333333;
}
body.hsSeasonsController,
body.hsSeasonController,
body.hsDeckController {
  background-color: #f1d6a9;
}
body.hsSeasonsController section.season-list .season-item {
  padding: 0;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
body.hsSeasonsController section.season-list .season-item .season-item-title {
  position: relative;
}
body.hsSeasonsController section.season-list .season-item .season-item-title > h2 {
  position: absolute;
  bottom: 16px;
  left: 16px;
  margin: 0;
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
}
body.hsSeasonsController section.season-list .season-item .season-item-title > img {
  width: 100%;
  max-width: 760px;
}
body.hsSeasonsController section.season-list .season-item .season-item-title .season-item-rank {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 50px;
  height: 65px;
  color: transparent;
  background-image: url('http://zhuhaolin.com/images/cce4da3329e8e6e0848fc95a6a6e304e.png');
}
body.hsSeasonsController section.season-list .season-item .season-item-title .season-item-rank.rank-1 {
  background-position: 0px 0px;
}
body.hsSeasonsController section.season-list .season-item .season-item-title .season-item-rank.rank-2 {
  background-position: -51px 0px;
}
body.hsSeasonsController section.season-list .season-item .season-item-title .season-item-rank.rank-3 {
  background-position: -102px 0px;
}
body.hsSeasonsController section.season-list .season-item .season-item-title .season-item-rank.rank-4 {
  background-position: -153px 0px;
}
body.hsSeasonsController section.season-list .season-item .season-item-title .season-item-rank.rank-5 {
  background-position: -204px 0px;
}
body.hsSeasonsController section.season-list .season-item .season-item-title .season-item-rank.rank-6 {
  background-position: -255px 0px;
}
body.hsSeasonsController section.season-list .season-item .season-item-title .season-item-rank.rank-7 {
  background-position: -306px 0px;
}
body.hsSeasonsController section.season-list .season-item .season-item-title .season-item-rank.rank-8 {
  background-position: -357px 0px;
}
body.hsSeasonsController section.season-list .season-item .season-item-title .season-item-rank.rank-9 {
  background-position: -408px 0px;
}
body.hsSeasonsController section.season-list .season-item .season-item-title .season-item-rank.rank-10 {
  background-position: 51px -66px;
}
body.hsSeasonsController section.season-list .season-item .season-item-title .season-item-rank.rank-11 {
  background-position: 0px -66px;
}
body.hsSeasonsController section.season-list .season-item .season-item-title .season-item-rank.rank-12 {
  background-position: -51px -66px;
}
body.hsSeasonsController section.season-list .season-item .season-item-title .season-item-rank.rank-13 {
  background-position: -102px -66px;
}
body.hsSeasonsController section.season-list .season-item .season-item-title .season-item-rank.rank-14 {
  background-position: -153px -66px;
}
body.hsSeasonsController section.season-list .season-item .season-item-title .season-item-rank.rank-15 {
  background-position: -204px -66px;
}
body.hsSeasonsController section.season-list .season-item .season-item-title .season-item-rank.rank-16 {
  background-position: -255px -66px;
}
body.hsSeasonsController section.season-list .season-item .season-item-title .season-item-rank.rank-17 {
  background-position: -306px -66px;
}
body.hsSeasonsController section.season-list .season-item .season-item-title .season-item-rank.rank-18 {
  background-position: -357px -66px;
}
body.hsSeasonsController section.season-list .season-item .season-item-title .season-item-rank.rank-19 {
  background-position: -408px -66px;
}
body.hsSeasonsController section.season-list .season-item .season-item-title .season-item-rank.rank-20 {
  background-position: 51px -132px;
}
body.hsSeasonsController section.season-list .season-item .season-item-title .season-item-rank.rank-21 {
  background-position: 0px -132px;
}
body.hsSeasonsController section.season-list .season-item .season-item-title .season-item-rank.rank-22 {
  background-position: -51px -132px;
}
body.hsSeasonsController section.season-list .season-item .season-item-title .season-item-rank.rank-23 {
  background-position: -102px -132px;
}
body.hsSeasonsController section.season-list .season-item .season-item-title .season-item-rank.rank-24 {
  background-position: -153px -132px;
}
body.hsSeasonsController section.season-list .season-item .season-item-title .season-item-rank.rank-25 {
  background-position: -204px -132px;
}
body.hsSeasonsController section.season-list .season-item .season-item-text {
  padding: 16px;
  background-color: #ffffff;
}
body.hsSeasonsController section.season-list .season-item .season-item-text > p {
  margin-bottom: 0;
  color: #666666;
}
body.hsSeasonsController section.season-list .season-item .season-item-action {
  padding: 8px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}
body.hsSeasonsController section.season-list .season-item .season-item-action .btn {
  padding: 6px 7px;
  font-weight: 500;
  color: #3f51b5;
  text-transform: uppercase;
}
body.hsSeasonsController section.season-list .season-item .season-item-action .btn:hover,
body.hsSeasonsController section.season-list .season-item .season-item-action .btn:active,
body.hsSeasonsController section.season-list .season-item .season-item-action .btn:focus {
  text-decoration: none;
  background-color: rgba(158, 158, 158, 0.2);
}
body.hsSeasonController section.season-title {
  text-align: center;
  border-color: transparent;
}
body.hsSeasonController section.season-title > h1 {
  color: #233a6e;
}
body.hsSeasonController section.season-title > img {
  width: 100%;
  max-width: 760px;
}
body.hsSeasonController section.table-responsive > p {
  text-align: center;
  font-size: 16px;
}
body.hsSeasonController section.table-responsive > p > span {
  margin: 0 3px;
  display: inline-block;
  vertical-align: middle;
}
body.hsSeasonController section.table-responsive > p > span.rank {
  font-size: 24px;
}
body.hsSeasonController section.table-responsive .table > thead > tr > th {
  text-align: center;
}
body.hsSeasonController section.table-responsive .table > thead > tr > th:first-child {
  text-align: left;
}
body.hsSeasonController section.table-responsive .table > tbody > tr:last-child > td {
  font-weight: bold;
}
body.hsSeasonController section.table-responsive .table > tbody > tr > td {
  text-align: center;
}
body.hsSeasonController section.table-responsive .table > tbody > tr > td:first-child {
  text-align: left;
}
body.hsDeckController section.deck-name {
  margin-bottom: 30px;
}
body.hsDeckController section.deck-name > h1 {
  text-align: center;
}
body.hsDeckController ul.deck-cards-list:before,
body.hsDeckController ul.deck-cards-list:after {
  content: " ";
  display: table;
}
body.hsDeckController ul.deck-cards-list:after {
  clear: both;
}
body.hsDeckController ul.deck-cards-list > li {
  float: left;
  position: relative;
  margin-bottom: 1px;
  width: 25%;
  cursor: pointer;
}
body.hsDeckController ul.deck-cards-list > li:before,
body.hsDeckController ul.deck-cards-list > li:after {
  content: " ";
  display: table;
}
body.hsDeckController ul.deck-cards-list > li:after {
  clear: both;
}
body.hsDeckController ul.deck-cards-list > li:hover .card-image-lg {
  display: block;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  body.hsDeckController ul.deck-cards-list > li {
    width: 33.33333333%;
  }
}
@media only screen and (max-width: 767px) {
  body.hsDeckController ul.deck-cards-list > li {
    float: none;
    width: 100%;
  }
}
body.hsDeckController ul.deck-cards-list > li > span {
  float: left;
  display: block;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  color: #ffffff;
}
body.hsDeckController ul.deck-cards-list > li .card-mana,
body.hsDeckController ul.deck-cards-list > li .card-count {
  width: 25px;
  text-align: center;
  font-size: 20px;
  font-family: "Impact";
  background-color: #2766ad;
}
body.hsDeckController ul.deck-cards-list > li .card-name {
  position: relative;
  padding-left: 10px;
  width: 82%;
  background-color: #333333;
}
body.hsDeckController ul.deck-cards-list > li .card-name.rarity-0,
body.hsDeckController ul.deck-cards-list > li .card-name.rarity-1 {
  color: #ffffff;
}
body.hsDeckController ul.deck-cards-list > li .card-name.rarity-2 {
  color: #0070ff;
}
body.hsDeckController ul.deck-cards-list > li .card-name.rarity-3 {
  color: #a335ee;
}
body.hsDeckController ul.deck-cards-list > li .card-name.rarity-4 {
  color: #ff8000;
}
@media only screen and (max-width: 1199px) {
  body.hsDeckController ul.deck-cards-list > li .card-name {
    width: 78%;
  }
}
@media only screen and (max-width: 767px) {
  body.hsDeckController ul.deck-cards-list > li .card-name {
    width: 82%;
  }
}
body.hsDeckController ul.deck-cards-list > li .card-name > span {
  position: relative;
  z-index: 200;
}
body.hsDeckController ul.deck-cards-list > li .card-name .card-image {
  position: absolute;
  top: 0;
  right: 0;
  width: 110px;
  height: 100%;
  overflow: hidden;
}
body.hsDeckController ul.deck-cards-list > li .card-name .card-image .mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}
body.hsDeckController ul.deck-cards-list > li .card-name .card-image .image {
  position: relative;
  width: 200px;
  margin-top: -80px;
  margin-left: -35px;
  z-index: 10;
}
body.hsDeckController ul.deck-cards-list > li .card-count {
  color: #cbb800;
  background-color: #333333;
}
body.hsDeckController ul.deck-cards-list > li .card-count .fa {
  font-size: 18px;
}
body {
  font-family: tahoma, arial, 'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
}
