<!--<section class="loading-mask" data-load="mask" load-images="images" ng-model="complete" ng-change="loadComplete(complete)" ng-loading>-->
    <!--<div class="progress">-->
        <!--<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" data-load="progress" data-count="0">0%</div>-->
    <!--</div>-->
<!--</section>-->
<section class="loading-container" data-load="mask" load-images="images" ng-loading>
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" data-load="background" data-count="0">
        <circle cx="45" cy="45" r="42.5"></circle>
    </svg>
    <img src="http://zhuhaolin.com/images/f93dde721529f9b0ef36ad1cc7a059eb.gif" alt=""/>
</section>